@keyframes aoGradient {
  0% {
    background-position: 0% 40%;
  }

  50% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 0% 40%;
  }
}

@keyframes aoGlow {
  0% {
    opacity: .25;
    transform: translateY(0px);
  }

  100% {
    opacity: .45;
    transform: translateY(-14px);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(22px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}