html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  background-color: var(--ao-light);
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

/* STEPPER AO */
.ao-stepper {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.ao-step {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--ao-light);
  border: 2px solid #ccc;
  color: var(--ao-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  transition: .25s ease;
}

.ao-step.active {
  background: var(--ao-gradient);
  color: white;
  border-color: var(--ao-purple);
  transform: scale(1.12);
}

/* DOTS */
.ao-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
  transition: 0.2s ease;
}

.ao-dot.active {
  background: var(--ao-magenta);
  transform: scale(1.15);
}

/* OPTION SELECTED */
.ao-option-selected {
  border-color: var(--ao-purple) !important;
  background-color: rgba(109, 47, 216, 0.12) !important;
  color: var(--ao-purple) !important;
  font-weight: 600;
  transition: all 0.2s ease;
  transform: scale(1.01);
}


/* NEXT BUTTON */
.btn-ao-next {
  background-color: var(--ao-orange);
  color: white !important;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn-ao-next:hover {
  background-color: #d96d2f;
}

/* AO SCROLL GLOBAL */
.ao-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.ao-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}