@use "./variables";

/* MIXINS */
@mixin glass($opacity: .18, $blur: 6px) {
  background: rgba(255, 255, 255, $opacity);
  backdrop-filter: blur($blur);
}

@mixin card-shadow {
  transition: .25s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, .12);
  }
}

@mixin gradient-bg {
  background: variables.$ao-gradient;
}