/* UTILITIES */
.text-gradient {
  background: var(--ao-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.shadow-soft {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
}

.ao-radio-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}